* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f8f8; /* Couleur de fond du body */
  }
  
  main {
    flex: 0 1 800px;
    min-height: 50vh; /* Hauteur minimale fixe */
    padding: 1rem;
    background-color: #fff; /* Couleur de fond du quiz */
    border-radius: 0.5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  #quiz {
    margin-bottom: 1rem;
  }
  
  #question {
    margin-bottom: 0.5rem;
  }
  #options {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .btn {
    flex: 1 1 300px;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary {
    background-color: #ff6f61;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #ff4d40;
  }
  
  .btn-success {
    background-color: #2ecc71;
    color: #fff;
  }
  
  .btn-success:hover {
    background-color: #27ae60;
  }
  
  .btn-danger {
    background-color: #9b59b6;
    color: #fff;
  }
  
  .btn-danger:hover {
    background-color: #8e44ad;
  }
  
  .btn-warning {
    background-color: #f1c40f;
    color: #fff;
  }
  
  .btn-warning:hover {
    background-color: #f39c12;
  }
  
  #time {
    text-align: center;
    margin-bottom: 1rem;
  }

  #preloader {
    text-align: center;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  .preloader-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  